<div class="block">
    <div class="block-container">
        <h3 class="block-header u-alignCenter">{{ phrase('guest_widget_title') }}</h3>
        <div class="block-body">
            <div class="block-row u-alignCenter">
                <p>{{ phrase('guest_widget_paragraph_1') }}</p>
                <p>{{ phrase('guest_widget_paragraph_2') }}</p>
            </div>

            <br>

            <div class="block-row block-row--minor u-alignCenter">
                <p>{{ phrase('guest_widget_site_warning') }}</p>
                <a href="{{ link('login') }}" class="button button--primary">{{ phrase('login') }}</a>
                <a href="{{ link('register') }}" class="button button--primary">{{ phrase('register') }}</a>
            </div>
        </div>
    </div>
</div>